<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Roles
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/adminfirstpage">Organization Admin</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/teacherfirstpage">Teacher</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/studentfirstpage">Student</a>
    </div>
  </li>
</ul>

<form action="/loginchoose" method="get" class="form-inline my-2 my-lg-0">
  <button class="form-control mr-sm-2 btn btn-outline-success" type="submit" style="background-color: aliceblue; color: black;">Login</button>
</form>
<form action="/registerchoose" method="get" class="form-inline my-2 my-lg-0">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: black; color: aliceblue;">Register</button>
</form>

</div>
</nav>
