<%- include('partials/header') %>

<div class="jumbotron centered" style="background-image:url('BlackBG.jpg'); background-size: cover;" >
  <div class="container mt-5">
    <h1>Send request to join</h1>


          <!-- Makes POST request to /register route -->

          <form action="/addteacher" method="POST">
            <div class="form-group">
                <label for="E-Mail" style="color: aliceblue;">*Email of teacher you want to add</label>
                <input type="email" required class="form-control" name="email">
            </div>
  
<hr>
<a class="btn btn-light btn-lg" href="/hometeacher" role="button">Discard</a>
<button type="submit" class="btn btn-dark btn-lg">Submit</button>
</form>
</div>
</div>
<%- include('partials/footer') %>
