<%- include('partials/header') %>
<%- include('partials/navbar') %>


<div class="jumbotron centered" style="background-image:url('BlackBG.jpg'); background-size: cover;" >
    <div class="container">
      <h1 class="display-3">AI-Gurukul</h1>
      <p class="lead">Register your Organization for Free!</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/registerorganization" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/loginorganization" role="button">Login</a>
  
    </div>
  </div>
<%- include('partials/footer') %>