<%- include('partials/header') %>
<%- include('partials/topnavbar') %>
<li class="nav-item active">
    <a class="nav-link present" href="/">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/aboutus">About Us</a>
  </li>
<%- include('partials/bottomnavbar') %>


<div style="background-image:url('BGAG3.webp');background-size: cover;">
  <div class="jumbotron centered" style="background-image:url('BGAG3.webp');background-size: cover;">
    <div class="container">
      <h1 class="display-3" style="color:aliceblue">AI-Gurukul</h1>
      <hr>
      <h4 style="color: aliceblue;">DESCRIPTION:It is a robust online exam platform. Our online examination system provides innovative and impeccable solutions for exams throughout various colleges, universities, educational institutions, and many leading corporate entities. Conduct Exam is developed by a highly qualified team that specialized in creating high-impact online exam software which is highly efficient in terms of reliability and speed. With our online examination system, anyone can conduct online exams or tests easily, and a team of innovators constantly research on making the procedure exam simple & easy. Conduct Exam aims to help students and the clients, such as companies and universities, to transcend time constraints and geographical boundaries with a highly skilled administrator and monitor. Complete and precise information on the exam is available on the portal.</h4>
      

      <a class="btn btn-dark btn-lg" href="/loginchoose" role="button">Login</a>
      <a class="btn btn-dark btn-lg" href="/registerchoose" role="button">Register</a>
      
  
    </div>
  </div>
  


</div>

<!--
<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">AI-Gurukul</h1>
    <p class="lead">Register your Organization for Free!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/registerorganization" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/loginorganization" role="button">Login</a>

  </div>
</div>
-->

<%- include('partials/footer') %>
